---
const props = Astro.props;
---

<header class='navbar'>
  <h1 class='navbar-brand'>
    <a href='/'>{props.title}</a>
  </h1>
  <div class='navbar-info'>
    <!-- {
      frontendMastersLink ? (
        <a href={frontendMastersLink} class='cta-btn'>
          Watch on Frontend Masters
        </a>
      ) : null
    }
    {
      section ? (
        <h2>
          {section} <i class={`fas fa-${icon}`} /> {title}
        </h2>
      ) : null
    } -->
  </div>
</header>
